In [49]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

Data=pd.read_csv("/content/train.csv")

In [50]:
Data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

a) Look for the missing values in all the columns and either impute them (replace with mean,
median, or mode) or drop them.

In [51]:
Data.isnull().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [52]:
Data.fillna(Data.mean(), inplace=True)
Data.drop('New_Price', axis=1, inplace=True)

<ipython-input-52-3e6c6f1db92d>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  Data.fillna(Data.mean(), inplace=True)

In [53]:
Data.isnull().sum()

Unnamed: 0            0
Name                  0
Location              0
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               2
Engine               36
Power                36
Seats                 0
Price                 0
dtype: int64

In [54]:
num_cols = Data.select_dtypes(include=['float64', 'int64']).columns
Data[num_cols] = Data[num_cols].fillna(Data[num_cols].mean())

cat_cols = Data.select_dtypes(include=['object']).columns
Data[cat_cols] = Data[cat_cols].fillna(Data[cat_cols].mode().iloc[0])

Data.to_csv('/content/cleanData.csv')

Data.isnull().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

b) Remove the units from some of the attributes and only keep the numerical values (for
example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from
“New_price”).

In [55]:
Data['Mileage'] = Data['Mileage'].str.extract('(\d+\.\d+)').astype(float)
Data['Engine'] = Data['Engine'].str.replace(' CC', '').astype(float)
Data['Power'] = Data['Power'].str.replace(' bhp', '').astype(float)

Data.fillna(Data.mean(), inplace=True)

Data.to_csv('/content/Units_Removed_Data.csv')

Data

<ipython-input-55-c1b2edde6323>:5: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  Data.fillna(Data.mean(), inplace=True)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.670000,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.159632,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.770000,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.200000,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.080000,1461.0,63.10,5.0,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.400000,1248.0,74.00,5.0,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.400000,1120.0,71.00,5.0,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.000000,2498.0,112.00,8.0,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.900000,998.0,67.10,5.0,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.440000,936.0,57.60,5.0,2.50

 C) Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot encoded value.

In [56]:
# Mapping Fuel_Type
FT_map = {'Diesel': 0, 'Petrol': 1, 'Electric': 2}
Data['Fuel_Type'] = Data['Fuel_Type'].map(FT_map)

# Mapping Transmission
T_map = {'Manual': 0, 'Automatic': 1}
Data['Transmission'] = Data['Transmission'].map(T_map)

# Mapping Owner_Type
OT_map = {'First': 0, 'Second': 1, 'Third': 2, 'Fourth & Above': 3}
Data['Owner_Type'] = Data['Owner_Type'].map(OT_map)

Data.to_csv('/content/Encoded_Data.csv')

Data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,0,19.670000,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,1,0,0,18.159632,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,0,20.770000,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,1,15.200000,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,0,23.080000,1461.0,63.10,5.0,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,0,0,0,28.400000,1248.0,74.00,5.0,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,0,0,0,24.400000,1120.0,71.00,5.0,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,0,0,1,14.000000,2498.0,112.00,8.0,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,1,0,0,18.900000,998.0,67.10,5.0,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,0,0,0,25.440000,936.0,57.60,5.0,2.50

D) Create one more feature and add this column to the dataset (you can use mutate function in
R for this). For example, you can calculate the current age of the car by subtracting “Year” value
from the current year.

In [58]:
Cur_Year = pd.Timestamp.now().year
Data['Current_Age'] = Cur_Year - Data['Year']

Data.to_csv('/content/Feature_Added_Data.csv')

Data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Cur_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,0,19.670000,1582.0,126.20,5.0,12.50,9
1,2,Honda Jazz V,Chennai,2011,46000,1,0,0,18.159632,1199.0,88.70,5.0,4.50,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,0,20.770000,1248.0,88.76,7.0,6.00,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,1,15.200000,1968.0,140.80,5.0,17.74,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,0,23.080000,1461.0,63.10,5.0,3.50,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,0,0,0,28.400000,1248.0,74.00,5.0,4.75,10
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,0,0,0,24.400000,1120.0,71.00,5.0,4.00,9
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,0,0,1,14.000000,2498.0,112.00,8.0,2.90,12
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,1,0,0,18.900000,998.0,67.10,5.0,2.65,11
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,0,0,0,25.440000,936.0,57.60,5.0,2.50,13

e) Perform select, filter, rename, mutate, arrange and summarize with group by operations (or
their equivalent operations in python) on this dataset.

In [63]:
# Select specific columns
Selected_data = Data[['Location','Year', 'Price', 'Mileage', 'Engine', 'Seats']]

# Filter
Filtered_data = Data[Data['Year'] > 2017]

# Rename columns
Renamed_data = Data.rename(columns={'Engine': 'Engine_CC', 'Seats': 'Number_of_Seats','Price': 'Price_Lakhs','Power': 'Power_bhp'})

# Mutate
Data['Engine'] = Data['Engine'] / 1000  # Converting CC to Liters

# Arrange data
arranged_data = Data.sort_values(by='Price', ascending=False)

# Summarize with group by operations
summary_data = Data.groupby('Location')['Price'].mean()

Data.to_csv('/content/Operations_Performed_Data.csv')

Data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Cur_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,0,19.670000,1.582000e-12,126.20,5.0,12.50,9
1,2,Honda Jazz V,Chennai,2011,46000,1,0,0,18.159632,1.199000e-12,88.70,5.0,4.50,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,0,20.770000,1.248000e-12,88.76,7.0,6.00,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,1,15.200000,1.968000e-12,140.80,5.0,17.74,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,0,23.080000,1.461000e-12,63.10,5.0,3.50,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,0,0,0,28.400000,1.248000e-12,74.00,5.0,4.75,10
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,0,0,0,24.400000,1.120000e-12,71.00,5.0,4.00,9
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,0,0,1,14.000000,2.498000e-12,112.00,8.0,2.90,12
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,1,0,0,18.900000,9.980000e-13,67.10,5.0,2.65,11
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,0,0,0,25.440000,9.360000e-13,57.60,5.0,2.50,13